header {
    width: 100%;
    height: 200px;
    background-image: url("./assets/images/Used-Pallets-Used-Pallet-Product-Page-scaled.jpeg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    opacity: 0.9;
}

header h1 {
    flex-basis: 80%;
    height: 40px;
    color: black;
    text-align: center;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    border: solid 5px lightgreen;
    border-top: none;
    font-family: 'Bungee Shade', 'Black Ops One', 'Russo One', 'Kanit', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 5px;
    z-index: 2;
    box-shadow: 0px 5px 20px black;
}

li {
    list-style: none;
}

nav {
    flex-basis: 100%;
    align-self: flex-end;
    background-image: linear-gradient(to bottom, rgb(203, 240, 203), lightgreen);
    border-bottom: solid 3px black;
    z-index: 2;
}

nav ul {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

.home-nav-li {
    display: inline;
    flex-basis: 40%;
    margin: 5px 10px;
    text-align: center;
}

.seller-nav-li, .recycler-nav-li {
    display: inline;
    flex-basis: 43%;
    margin: 5px 10px;
    text-align: center;
}

.links {
    text-decoration: none;
    color: black;
}

.links:visited, .links:active {
    color: none;
}

.links:hover {
    color: rgb(66, 66, 255);
}

.main-container {
    background-color: white;
    background-position: center;
    background-size: cover;
    padding: 35px 15px;
}

.section-cards {
    background-color: white;
    padding: 4% 4%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px gray;
    margin: 20px 0px;
}

.section-headings {
    text-align: center;
    margin: 5px 5px;
    font-family: 'Black Ops One', 'Russo One', 'Kanit', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

#home-image {
    width: 100%;
    height: 200px;
    align-self: flex-end;
    margin-top: 10px;
}

#about-section p {
    text-align: justify;
    margin-bottom: 10px;
    font-size: 12px;
}

.form-inputs, .form-selects {
    width: 100%;
    padding: 1px 8px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'kanit', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px 0px;
}

.form-inputs:focus, .form-selects:focus {
    outline: none;
    border: 2px solid orange;
}

.forms-btn-div, .offer-btn-div {
    text-align: center;
}

.btns {
    color: white;
    width: 50%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: navy;
    margin: 5px 0px;
}

.delete-btns {
    background-color: rgb(206, 0, 0);
}

.btns:hover {
    background-color:  rgb(66, 66, 255);
    cursor: pointer;
}

.delete-btns:hover {
    background-color: red;
}

.required-fields, .error-messages {
    color: red;
}

.offer-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
}

.offer-ids, .offer-lists, .offer-img, .offer-btn-div {
    flex-basis: 100%;
    margin: 5px 0px;
}

.offer-img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.cards-list-items {
    margin: 10px 0px;
    font-size: 14px;
}

footer {
    background-image: linear-gradient(to bottom, rgb(203, 240, 203), lightgreen);
    color: black;
    text-align: center;
    font-size: 14px;
    padding: 5px 5px;
    border-top: solid 3px black;
}

footer h4 {
    margin: 10px 10px;
}

footer ul li {
    display: inline;
    font-size: 25px;
    margin: 10px 10px;
}

.footer-links {
    display: inline;
    color: black;
}

.footer-links:hover {
    color: rgb(66, 66, 255)
}

@media screen and (min-width: 576px) {

    header {
        height: 200px;
    }

    header h1 {
        flex-basis: 70%;
        height: 50px;
        font-size: 30px;
    }

    .home-nav-li {
        flex-basis: 30%;
        font-size: 20px;
    }
    
    .seller-nav-li, .recycler-nav-li {
        flex-basis: 35%;
        font-size: 20px;
    }

    #home-image {
        height: 300px;
    }

    #about-section p {
        font-size: 14px;
    }

    .section-headings {
        font-size: 35px;
    }

    .forms-labels {
        font-size: 18px;
    }

    .form-inputs, .form-selects {
        height: 30px;;
    }

    .btns {
        width: 35%;
        font-size: 18px;
    }

    .offer-ids {
        font-size: 20px;
    }

    .offer-lists {
        flex-basis: 55%;
    }

    .offer-img {
        flex-basis: 40%;
        width: 200px;
        height: 200px;
    }

    footer h4 {
        font-size: 16px;
    }
    
    footer ul li {
        font-size: 30px;
    }
}

@media screen and (min-width: 768px) {

    header {
        height: 200px;
    }

    header h1 {
        flex-basis: 70%;
        height: 65px;
        font-size: 40px;
    }

    .home-nav-li {
        flex-basis: 30%;
        font-size: 18px;
    }
    
    .seller-nav-li, .recycler-nav-li {
        flex-basis: 20%;
        font-size: 18px;
    }

    #home-image {
        height: 350px;
    }

    #about-section p {
        font-size: 16px;
    }

    .section-headings {
        font-size: 40px;
    }

    .forms-labels {
        font-size: 18px;
    }

    .form-inputs, .form-selects {
        height: 30px;;
    }

    .btns {
        width: 35%;
        font-size: 23px;
    }

    .cards-list-items {
        font-size: 16px;
    }

    .offer-cards {
        justify-content: space-between;
        align-items: center;
    }

    .offer-ids {
        font-size: 23px;
    }

    .offer-lists {
        flex-basis: 40%;
    }

    .offer-img {
        flex-basis: 40%;
        width: 200px;
        height: 270px;
    }

    footer h4 {
        font-size: 16px;
    }
    
    footer ul li {
        font-size: 30px;
    }
}

@media screen and (min-width: 992px) {

    .main-container {
        padding: 35px 35px;
    }

    header {
        height: 200px;
    }

    header h1 {
        flex-basis: 53%;
        height: 65px;
        font-size: 40px;
    }

    .home-nav-li {
        flex-basis: 30%;
        font-size: 18px;
    }
    
    .seller-nav-li, .recycler-nav-li {
        flex-basis: 20%;
        font-size: 18px;
    }

    #home-image {
        height: 400px;
    }

    #about-section p {
        font-size: 16px;
    }

    .section-headings {
        flex-basis: 100%;
        font-size: 40px;
        text-align: left;
        margin: 5px 0px;
    }

    .forms-labels {
        font-size: 18px;
    }

    .form-inputs, .form-selects {
        display: block;
        width: 50%;
        height: 35px;;
    }

    .forms-btn-div {
        text-align: left;
    }

    .btns {
        width: 35%;
        font-size: 23px;
    }

    .cards-list-items {
        font-size: 12px;
    }

    .offers-sections {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-around;
    }

    .offer-cards {
        flex-basis: 49%;
        justify-content: space-between;
        align-items: center;
    }

    .offer-ids {
        text-align: center;
        font-size: 18px;
    }

    .offer-lists {
        flex-basis: 65%;
    }

    .offer-img {
        flex-basis: 10%;
        width: 120px;
        height: 150px;
    }

    footer h4 {
        font-size: 16px;
    }
    
    footer ul li {
        font-size: 30px;
    }
}

@media screen and (min-width: 1200px) {

    .main-container {
        padding: 35px 50px;
    }
    
    header {
        height: 220px;
    }

    header h1 {
        flex-basis: 53%;
        height: 75px;
        font-size: 50px;
    }

    .home-nav-li {
        flex-basis: 30%;
        font-size: 25px;
    }
    
    .seller-nav-li, .recycler-nav-li {
        flex-basis: 20%;
        font-size: 25px;
    }

    #about-section {
        justify-content: space-between;
        align-content: space-between;
        align-items: center;
    }

    #home-image {
        height: 400px;
        flex-basis: 35%;
    }

    #about-section p {
        flex-basis: 35%;
        font-size: 19px;
    }

    .section-headings {
        flex-basis: 100%;
        font-size: 50px;
        text-align: left;
        margin: 5px 0px;
    }

    .forms-labels {
        font-size: 20px;
    }

    .form-inputs, .form-selects {
        display: block;
        width: 45%;
        height: 38px;;
    }

    .forms-btn-div {
        text-align: left;
    }

    .btns {
        margin: 10px 0px;
        width: 25%;
        font-size: 25px;
    }

    #login-btn, #signup-btn {
        margin: 10px 0px;
        width: 12.5%;
        font-size: 20px;
    }

    #login-section, #signup-section {
        z-index: 1;
        position: relative;
    }

    #login-section::after {
        content: " ";
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        background-image: url("./assets/images/Circular-economy-2.jpeg");
        background-position: center;
        background-size: 100% 100%;
        border-radius: 0px 10px 10px 0px;
        opacity: 0.9;
        z-index: 2;
    }

    #signup-section {
        z-index: 1;
        position: relative;
    }

    #signup-section::after {
        content: " ";
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        background-image: url("./assets/images/think-about-plastic.png");
        background-position: center;
        background-size: 100% 100%;
        border-radius: 0px 10px 10px 0px;
        opacity: 1.0;
        z-index: 2;
    }

    .cards-list-items {
        font-size: 16px;
    }

    .offers-sections {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-around;
    }

    .offer-cards {
        flex-basis: 49%;
        justify-content: space-between;
        align-items: center;
    }

    .offer-ids {
        text-align: center;
        font-size: 20px;
    }

    .offer-lists {
        flex-basis: 50%;
    }

    .offer-img {
        flex-basis: 30%;
        width: 180px;
        height: 230px;
    }

    footer h4 {
        font-size: 20px;
    }
    
    footer ul li {
        font-size: 40px;
    }
}

@media screen and (min-width: 1400px) {
    
    header {
        height: 170px;
    }

    header h1 {
        flex-basis: 36%;
        height: 65px;
        font-size: 40px;
    }

    .home-nav-li {
        flex-basis: 30%;
        font-size: 18px;
    }
    
    .seller-nav-li, .recycler-nav-li {
        flex-basis: 20%;
        font-size: 18px;
    }

    #about-section {
        justify-content: space-around;
        align-content: space-between;
        align-items: center;
        padding: 1% 1%;
    }

    #home-image {
        height: 350px;
        flex-basis: 45%;
    }

    #about-section p {
        flex-basis: 30%;
        font-size: 16px;
        line-height: 1.5;
    }

    .section-headings {
        flex-basis: 100%;
        font-size: 40px;
        text-align: left;
        margin: 5px 0px;
    }

    .forms-labels {
        font-size: 18px;
    }

    .form-inputs, .form-selects {
        display: block;
        width: 45%;
        height: 38px;
        font-size: 18px;
    }

    .forms-btn-div {
        text-align: left;
    }

    .btns {
        margin: 10px 0px;
        width: 35%;
        font-size: 20px;
    }

    #login-btn, #signup-btn {
        margin: 10px 0px;
        width: 12.5%;
        font-size: 20px;
    }

    #login-section, #signup-section {
        z-index: 1;
        position: relative;
    }

    #login-section::after {
        content: " ";
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        background-image: url("./assets/images/Circular-economy-2.jpeg");
        background-position: center;
        background-size: 100% 100%;
        border-radius: 0px 10px 10px 0px;
        opacity: 0.9;
        z-index: 2;
    }

    #signup-section::after {
        content: " ";
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        background-image: url("./assets/images/think-about-plastic.png");
        background-position: center;
        background-size: 100% 100%;
        border-radius: 0px 10px 10px 0px;
        opacity: 1.0;
        z-index: 2;
    }

    .cards-list-items {
        font-size: 20px;
    }

    .offers-sections {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-around;
    }

    .offer-cards {
        flex-basis: 49%;
        justify-content: space-between;
        align-items: center;
        padding: 2% 2%;
    }

    .offer-ids {
        text-align: center;
        font-size: 25px;
    }

    .offer-lists {
        flex-basis: 60%;
    }

    .offer-img {
        flex-basis: 35%;
        width: 200px;
        height: 200px;
    }

    footer h4 {
        font-size: 18px;
    }
    
    footer ul li {
        font-size: 45px;
    }
}