header {
    width: 100%;
    height: 200px;
    background-image: url("./assets/images/recycled-plastic-pallets.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header h1 {
    flex-basis: 80%;
    height: 40px;
    color: black;
    text-align: center;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    font-family: 'Bungee Shade';
    font-size: 20px;
    padding: 5px 5px;
}

li {
    list-style: none;
}

nav {
    flex-basis: 100%;
    align-self: flex-end;
    background-color: lightgreen;
}

nav ul {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

.home-nav-li {
    display: inline;
    flex-basis: 40%;
    margin: 5px 10px;
    text-align: center;
}

.seller-nav-li {
    display: inline;
    margin: 5px 10px;
    text-align: center;
}

.recycler-nav-li {
    display: inline;
    margin: 5px 10px;
    text-align: center;
}

.links {
    text-decoration: none;
    color: black;
}

.links:visited, .links:active {
    color: none;
}

.links:hover {
    color: rgb(66, 66, 255);
}

.main-container {
    background-image: url("./assets/images/light-green-background.webp");
    background-position: center;
    background-size: cover;
    padding: 35px 15px;
}

.section-cards {
    background-color: white;
    padding: 4% 4%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px gray;
    margin: 10px 0px;
}

.section-headings {
    text-align: center;
    margin: 5px 5px;
}

#about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

#home-image {
    width: 100%;
    align-self: flex-end;
    margin-top: 10px;
}

#about-section p {
    text-align: justify;
    margin-bottom: 10px;
    font-size: 12px;
}

.form-inputs, .form-selects {
    width: 100%;
    padding: 1px 5px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: monospace;
    margin: 5px 0px;
}

.form-inputs:focus, .form-selects:focus {
    outline: none;
    border: 2px solid orange;
}

.forms div {
    text-align: center;
}

.btns {
    color: white;
    width: 50%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: navy;
    margin: 5px 0px;
}

#login-form button:hover {
    background-color:  rgb(66, 66, 255);
    cursor: pointer;
}

#login-required, #login-error {
    color: red;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 5px 5px;
}

footer h4 {
    margin: 10px 10px;
}

footer ul li {
    display: inline;
    font-size: 25px;
    margin: 10px 10px;
}

.footer-links {
    display: inline;
    color: white;
}